/*****************************************************************************/
/* UrlInput: Style */
/*****************************************************************************/
.url{
	.source-url{
		width: 100%;
		padding: 10px 20px;
	}

	&.valid{
		border: 1px solid fade(green, 70%);
	}
	&.not-valid{
		border: 1px solid fade(red, 70%);
	}

}