#slider{
	 .ui-slider-handle{

		background: #84D7CF;
		border: none;
		height: 50px;
		top: -20px;
		outline: none;
	}
}

#fader{
	margin-top: 20px;
	margin-bottom: 40px;

	#slider{
		margin-top: 40px;
	}
}